/* Header styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 80px;
    width: calc(100vw - 40px);
    padding: 0 20px;
}
.headerLeft {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.headerLeft img{
    cursor: pointer;
    width: 300px;
    height: auto;
}

.headerUserDetails {
    font-size: 1rem;
    display: flex;
    align-items: center;
    width: auto;
    cursor: pointer;
}

.headerIcon {
    width: 30px;
    height: 30px;
    margin-left: 20px;
}

.headerUserDetails:hover .dropdown{
    display: flex;
}

.dropdown{
    display: none;
    position: relative;
    width: 200px;
    height: auto;
    position: absolute;
    top: 55px;
    right:10px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0;
    transition-duration: .5s;
}
.dropdown button{
    width: 90%;
    height: 40px;
    background: white;
    border: 1px solid black;
    color: black;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    transition-duration: .3s;
}
.dropdown button:hover{
    background: black;
    color: white;
}


@media screen and (max-width: 768px) {
    .header {
        width: calc(100vw - 20px);
        padding: 0 10px;
    }
    .headerLeft {
        max-width: 150px;
    }
    .headerLeft img{
        width: 150px;
        height: auto;
    }
    .headerUserDetails {
        font-size: 0.7rem;
    }
    .headerUserDetails p{
        width: fit-content;
    }
    .headerIcon {
        width: 25px;
        height: 25px;
        margin-left: 10px;
    }
    .dropdown{
        width: 150px;
    }
    .dropdown button{
        width: 80%;
    }
    .dropdown button:hover{
        width: 90%;
    }
    .headerLeft {
        width: 100%;
        justify-content: center;
    }
    .headerLeft img{
        width: 150px;
    }
    .headerUserDetails {
        font-size: 0.8rem;
        margin-left: 10px;
    }
    .headerUserDetails:hover .dropdown{
        display: flex;
    }  
}