.main {
  background: #f0f2f5;
  width: 100vw;
  height: 100vh;
}
.main h2{
  text-decoration: underline;
  text-decoration-color: black;
  text-underline-offset: 10px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-self: center;
}
.main h2 img{
  margin-right: 10px
}
.main .error{
  width: 80vw;
  height: auto;
  border-radius: 10px;
  background: rgb(156, 58, 58);
  color: white;
  padding: 5px 0;
  text-align: center;
  margin-left: 10%;
  margin-top: 30px;
}
.form {
  width: 80%;
  height: auto;
  background: white;
  border-radius: 10px;
  margin: 30px auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
.form div {
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  position: relative;
}

.form input {
  width: calc(100% - 20px);
  height: 40px;
  border: 1px solid rgb(175, 175, 175);
  border-radius: 5px;
  appearance: none;
  outline: none;
  font-size: 1rem;
  padding: 0 10px;
}
.form input:focus {
  border: 1px solid black;
}
.form select {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
  padding: 0 10px;
  appearance: none;
  border: 1px solid rgb(175, 175, 175);
  cursor: pointer;
}
.form div label {
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
}
.form input[type="file"] {
  display: none;
}
.file_label {
  width: calc(100% - 20px);
  height: 40px;
  background-color: transparent;
  border: 1px solid rgb(175, 175, 175);
  color: black;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.file_label img{
  width: 25px;
  height: auto;
  margin-right: 10px;
}
.file_label:hover {
  border: 1px solid black;
}
.form button {
  width: 30%;
  height: 50px;
  background: black;
  color: white;
  border: none;
  border-radius: 10px;
  margin: 50px 10px;
  font-size: 1rem;
  transition-duration: .2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form button img{
  width: 25px;
  height: auto;
  margin-right: 10px;
}
.form button:hover {
  font-size: 1.1rem;
}

@media screen and (max-width: 768px) {
  .form div {
    width: 100%;
  }
  .form button {
    width: 100%;
    margin: 20px auto;
  }
  .form {
    width: 90%;
    margin: 30px auto;
  }
  .main h2{
    font-size: 1.5rem;
  }
  .main .error{
    width: 90vw;
  }
  .main .error{
    font-size: 0.8rem;
  } 
  
}