.main{
    background: #F0F2F5;
    width: 100vw;
    height: 100vh;
}
.main_box{
    width: 100vw;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main_box h2{
    margin: 50px 0;
    font-size: 2rem;
}
.form{
    width: 50%;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.form div{
    width: 100%;
    height: 40px;
    margin: 20px 0;
    display: flex;
    align-items: center;
}
.form label{
    width: 30%;
    font-size: 1.2rem;
}
.form input{
    width: 70%;
    height: 100%;
    outline: none;
    font-size: 1.2rem;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid #7d7d7d;
}
.form button{
    width: 40%;
    height: 40px;
    background: black;
    color: #fff;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5%;
}
.form .cancel{
    background: white;
    border: 1px solid black;
    color: black;
}
.form .error{
    color: red;
    font-size: 1rem;
    margin: 10px 0;
}