/* Fullscreen overlay styles */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.box{
  width: 30%;
  height: auto;
  background: white;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  border-radius: 10px;
  position: relative;
}

.box p {
  font-size: 1rem;
  color: black;
  margin: 20px 0;
  white-space: pre-wrap; /* preserves line breaks */
  text-align: center;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  line-height: 1.6;
}

.box img{
  width: 120px;
  height: auto;
}

.box button{
  position: absolute;
  top: 0;
  right: 5%;
  width: 30px;
  height: 30px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  margin-top: 20px;
  font-size: 1rem;
}
